<h5>Initial position</h5>
<form #initialPosition="ngForm" (ngSubmit)="submit()">
    <div class="form-group d-flex">
        <input 
            type="number" 
            class="form-control"
            name="coordinateX" 
            id="coordinateX"
            placeholder="Coordinate x"
            [(ngModel)]="newInfo.initialPosition[0]"
            [disabled]="isDisabled">
        <input 
            type="number" 
            class="form-control"
            name="coordinateY" 
            id="coordinateY"
            placeholder="Coordinate y"
            [(ngModel)]="newInfo.initialPosition[1]"
            [disabled]="isDisabled">
        <select 
            #orientation
            type="text" 
            class="form-select"
            name="orientation" 
            id="orientation"
            placeholder="Orientation"
            (click)="setOrientation(orientation.value)"
            [disabled]="isDisabled">
            <option value="N">N</option>
            <option value="E">E</option>
            <option value="S">S</option>
            <option value="W">W</option>
        </select>
        <button 
            type="submit" 
            class="btn btn-primary"
            [disabled]="isDisabled"
            >OK</button>
    </div>
</form>