<h5>Introduce square dimensions</h5>

<form #squareDimensions="ngForm" (ngSubmit)="submit()">
    <div class="form-group d-flex">
        <input 
            type="number"
            name="squareWidth" 
            class="form-control"
            placeholder="Width"
            value="newInfo.squareDimensions[0]==0 ? '': 'newInfo.squareDimensions[0]'"
            (ngModel)="newInfo.squareDimensions[0]"
            [disabled]="isDisabled">
        <input 
            type="number" 
            class="form-control"
            name="squareHeight" 
            id="squareHeight"
            placeholder="Height"
            value="newInfo.squareDimensions[0]==0 ? '': 'newInfo.squareDimensions[0]'"
            (ngModel)="newInfo.squareDimensions[1]"
            [disabled]="isDisabled">
        <button 
            type="submit" 
            class="btn btn-primary"
            [disabled]="isDisabled"
        >OK</button>
    </div>
</form>